@import "tailwindcss";

@theme{
    --color-background: #050626;
    --color-bordes: #4a5565;
    --color-card: #292A3F;
}

:root{
    --ruta-menu: url('../img/menu.svg');
    --ruta-close: url('../img/close.svg');
    --hero: linear-gradient(#000000b7, #000000), url('../img/hero.jpg');
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;       
  }
  50% {
    fill: transparent;       
  }
  100% {
    stroke-dashoffset: 0;    
    fill: currentColor;      
  }
}

.logo-animado path {
  stroke: currentColor;
  stroke-width: 1px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2.5s ease-in-out forwards;
}