@import "tailwindcss";

@theme{
    --color-primary: #0b7e7f;
    --color-secondary: #13947d;
    --color-third: #1ba37d;
    --color-fourth: #20ae7c;
    --color-fifth: #35bc88;
    --color-background: #0e1831;
    --color-dark: #143f17;
    --color-light: #e0f7fa;
}

:root{
    --ruta-menu: url('../img/menu.svg');
    --ruta-close: url('../assets/close.svg');
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;       
  }
  50% {
    fill: transparent;       
  }
  100% {
    stroke-dashoffset: 0;    
    fill: currentColor;      
  }
}

.logo-animado path {
  stroke: currentColor;
  stroke-width: 1px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2.5s ease-in-out forwards;
}